{% extends "base.html" %}
{% block start %}

<div class="container">
    <h1>This is Sent Email</h1>
    <a href="{% url 'send_email' %}" class="btn btn-success">Send</a>
</div>


    <table class = "container">
  <tr>
    <th>S.no</th>
    <th>Name</th>
    <th>Age</th>
    <th>Can Vote</th>
  </tr>
    {% for people in peoples %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ people.name }}</td>
        <td>{{ people.age }}</td>
        <td>
            {% if people.age >= 18 %}
                Yes
            {% else %}
                No
            {% endif %}
        </td>
    </tr>
    {% endfor %}
  
</table>

{% endblock %}